{% extends 'base/base.html' %}
{% load static %}
{% block content %}
            <!-- Page content -->
            <section class="container pt-5">
                <div class="row">
                    <!-- Sidebar (User info + Account menu) -->
                    <aside class="col-lg-3 col-md-4 border-end pb-5 mt-n5">
                        <div class="position-sticky top-0">
                            <div class="text-center pt-5">
                                <div class="d-table position-relative mx-auto mt-2 mt-lg-4 pt-5 mb-3">
                                    <img src="{{ user.image.url }}" class="d-block rounded-circle" width="120" alt="John Doe">
                                    <button type="button" class="btn btn-icon btn-light bg-white btn-sm border rounded-circle shadow-sm position-absolute bottom-0 end-0 mt-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Change picture">
                                    <i class="bx bx-refresh"></i>
                                    </button>
                                </div>
                                <h2 class="h5 mb-1">{{ user.first_name }} {{ user.last_name }}</h2>
                                <p class="mb-3 pb-3">{{ user.email }}</p>
                                <button type="button" class="btn btn-secondary w-100 d-md-none mt-n2 mb-3" data-bs-toggle="collapse" data-bs-target="#account-menu">
                                <i class="bx bxs-user-detail fs-xl me-2"></i>
                                Account menu
                                <i class="bx bx-chevron-down fs-lg ms-1"></i>
                                </button>
                                <div id="account-menu" class="list-group list-group-flush collapse d-md-block">
                                    <a href="account-details.html" class="list-group-item list-group-item-action d-flex align-items-center">
                                    <i class="bx bx-cog fs-xl opacity-60 me-2"></i>
                                    Accountt Details
                                    </a>
                                    <a href="{% url 'password_change' %}" class="list-group-item list-group-item-action d-flex align-items-center active">
                                    <i class="bx bx-lock-alt fs-xl opacity-60 me-2"></i>
                                    Security
                                    </a>
                                    <a href="account-saved-items.html" class="list-group-item list-group-item-action d-flex align-items-center">
                                    <i class="bx bx-bookmark fs-xl opacity-60 me-2"></i>
                                    Saved Items
                                    </a>
                                    <a href="account-collections.html" class="list-group-item list-group-item-action d-flex align-items-center">
                                    <i class="bx bx-collection fs-xl opacity-60 me-2"></i>
                                    My Collections
                                    </a>
                                    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                                    <i class="bx bx-log-out fs-xl opacity-60 me-2"></i>
                                    Sign Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- Account security -->
                    <div class="col-md-8 offset-lg-1 pb-5 mb-lg-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
                        <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
                            <h1 class="h2 pt-xl-1 pb-3">Security</h1>
                            <!-- Password -->
                            <h2 class="h5 text-primary mb-4">Password</h2>
                            <form class="needs-validation border-bottom pb-3 pb-lg-4" action="." method="post"> {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6 mb-4">
                                        <label for="id_old_password" class="form-label fs-base">Current password</label>
                                        <div class="password-toggle">
                                            <input type="password" id="id_old_password" name="old_password" class="form-control form-control-lg" required>
                                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox">
                                            <span class="password-toggle-indicator"></span>
                                            </label>
                                            <div class="invalid-tooltip position-absolute top-100 start-0">I{{ form.error }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col-sm-6 mb-4">
                                        <label for="id_new_password1" class="form-label fs-base">New password</label>
                                        <div class="password-toggle">
                                            <input type="password" id="id_new_password1" name="new_password1" autocomplete="new-password" class="form-control form-control-lg" required>
                                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox">
                                            <span class="password-toggle-indicator"></span>
                                            </label>
                                            <div class="invalid-tooltip position-absolute top-100 start-0">Incorrect password!</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-4">
                                        <label for="id_new_password2" class="form-label fs-base">Confirm new password</label>
                                        <div class="password-toggle">
                                            <input type="password" id="id_new_password2" name="new_password2" autocomplete="new-password" class="form-control form-control-lg" required>
                                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox">
                                            <span class="password-toggle-indicator"></span>
                                            </label>
                                            <div class="invalid-tooltip position-absolute top-100 start-0">Incorrect password!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <button type="reset" class="btn btn-secondary me-3">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
 {% endblock %}