{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    {% block header %}
    {% endblock %}
    <!-- Page content -->
    <section class="position-relative">
        <!-- Sign up form -->
        <div class="container d-flex flex-wrap justify-content-center mt-lg-5">
            <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
                <h1 class="text-center text-xl-start">Create Account</h1>
                <p class="text-center text-xl-start pb-3 mb-3">Already have an account? <a href="{% url 'login' %}">Sign
                    in here.</a></p>
                <form class="needs-validation" method="post" action=".">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="position-relative mb-4">
                                <label for="id_username" class="form-label fs-base">Username</label>
                                <input type="text" id="id_username" name="username" class="form-control form-control-lg" placeholder="e.g. malikov03" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="position-relative mb-4">
                                <label for="id_email" class="form-label fs-base">Email</label>
                                <input type="email" id="id_email" name="email" class="form-control form-control-lg" placeholder="malikov@gmail.com" required>
                                <div class="invalid-feedback position-absolute start-0 top-100">Please enter a valid
                                    email address!
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <label for="id_password1" class="form-label fs-base">Password</label>
                            <div class="password-toggle">
                                <input type="password" id="id_password1" name="password1" class="form-control form-control-lg" placeholder="Enter a password" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox">
                                    <span class="password-toggle-indicator"></span>
                                </label>
                                <div class="invalid-feedback position-absolute start-0 top-100">Please enter a
                                    password!
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <label for="id_password2" class="form-label fs-base">Confirm password</label>
                            <div class="password-toggle">
                                <input type="password" id="id_password2" name="password2" class="form-control form-control-lg" placeholder="Confirm you password"
                                       required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox">
                                    <span class="password-toggle-indicator"></span>
                                </label>
                                <div class="invalid-feedback position-absolute start-0 top-100">Please enter a
                                    password!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="form-check">
                            <input type="checkbox" id="terms" class="form-check-input">
                            <label for="terms" class="form-check-label fs-base">I agree to <a href="#">Terms &amp;
                                Conditions</a></label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Sign up</button>
                </form>
                <hr class="my-4">
                <h6 class="text-center mb-4">Or sign up with your social network</h6>
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col mb-3">
                        <a href="#" class="btn btn-icon btn-secondary btn-google btn-lg w-100">
                            <i class="bx bxl-google fs-xl me-2"></i>
                            Google
                        </a>
                    </div>
                    <div class="col mb-3">
                        <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-lg w-100">
                            <i class="bx bxl-facebook fs-xl me-2"></i>
                            Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block footer %}
    {% endblock %}
{% endblock %}