{% load static %}
<!-- Navbar -->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
<header class="header navbar navbar-expand-lg navbar-light bg-light navbar-sticky">
    <div class="container px-3">
        <a href="/" class="navbar-brand pe-3" style="color: red;">&lt;/<span
                style="color: #4044EE">Malikov</span>&gt;</a>
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Posts</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'post_list' %}" class="dropdown-item">Articles</a></li>
                            <li><a href="#podcasts" class="dropdown-item">Podcasts</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           aria-current="page">About</a>
                        <ul class="dropdown-menu">
                            <li><a href="/" class="dropdown-item">About me</a></li>
                            <li><a href="/" class="dropdown-item">Projects</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="offcanvas-footer border-top">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav me2-auto mb-2 mb-lg-0 ">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page">
                                <img src="{{ user.image.url }}" class="d-block rounded-circle" width="50"
                                     alt="John Doe"><span style="margin-left:10px;">@{{ user.username }}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu2">
                                <li><a class="dropdown-item"
                                       style="color: #4044EE; font-weight: bolder; font-size: 0.9rem;">{{ user.first_name }} {{ user.last_name }}</a>
                                </li>
                                <hr class="dropdown-divider2">
                                <li><a href="account-details.html" class="dropdown-item">Account Details</a></li>
                                <li><a href="{% url 'password_change' %}" class="dropdown-item">Security</a></li>
                                <li><a href="account-saved-items.html" class="dropdown-item">Saved Items</a></li>
                                <li><a href="account-collections.html" class="dropdown-item">My Collections</a></li>
                                <li><a href="{% url 'logout' %}" class="dropdown-item link-danger">Log Out</a></li>
                                <hr class="dropdown-divider2">
                                <li class="dropdown-item">
                                    <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4"
                                         data-bs-toggle="mode">
                                        <input type="checkbox" class="form-check-input" id="theme-mode">
                                        <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
                                        <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
                                    </div>
                                </li>
                            </ul>
                        <li>
                    </ul>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary btn-sm fs-sm rounded d-lg-inline-flex"
                       rel="noopener">
                        &nbsp;Sign In
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Hamburger button -->
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- AVATAR -->
        {% if user.is_authenticated %}
            <ul class="navbar-nav me2-auto mb-2 mb-lg-0 d-none-ava ">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page">
                        <img src="{{ user.image.url }}" class="d-block rounded-circle" width="50"
                             alt="No"><span style="margin-left:10px;">@{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu2">
                        <li><a class="dropdown-item"
                               style="color: #4044EE; font-weight: bolder; font-size: 0.9rem;">{{ user.first_name }} {{ user.last_name }}</a>
                        </li>
                        <hr class="dropdown-divider2">
                        <li><a href="account-details.html" class="dropdown-item">Account Details</a></li>
                        <li><a href="{% url 'password_change' %}" class="dropdown-item">Security</a></li>
                        <li><a href="account-saved-items.html" class="dropdown-item">Saved Items</a></li>
                        <li><a href="account-collections.html" class="dropdown-item">My Collections</a></li>
                        <li><a href="{% url 'logout' %}" class="dropdown-item link-danger">Log Out</a></li>
                        <hr class="dropdown-divider2">
                        <li class="dropdown-item">
                            <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
                                {#                            <input type="checkbox" class="form-check-input" id="theme-mode">#}
                                <label class="form-check-label d-sm-block btn btn-sm btn-outline-info" for="theme-mode">Light</label>
                                <label class="form-check-label d-sm-block btn btn-sm btn-primary"
                                       for="theme-mode">Dark</label>
                            </div>
                        </li>
                    </ul>
                <li>
            </ul>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex"
               rel="noopener">
                &nbsp;Sign In
            </a>
        {% endif %}
        <!-- AVATAR -->

    </div>
</header>