{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- Page content -->
    <section class="container pt-5">
        <div class="row">
            <!-- Sidebar (User info + Account menu) -->
            <aside class="col-lg-3 col-md-4 border-end pb-5 mt-n5">
                <div class="position-sticky top-0">
                    <div class="text-center pt-5">
                        <div class="d-table position-relative mx-auto mt-2 mt-lg-4 pt-5 mb-3">
                            <img src="{{ user.image.url }}" class="d-block rounded-circle" width="120" alt="John Doe">
                            <button type="button"
                                    class="btn btn-icon btn-light bg-white btn-sm border rounded-circle shadow-sm position-absolute bottom-0 end-0 mt-4"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Change picture">
                                <i class="bx bx-refresh"></i>
                            </button>
                        </div>
                        <h2 class="h5 mb-1">{{ user.first_name }} {{ user.last_name }}</h2>
                        <p class="mb-3 pb-3">{{ user.email }}</p>
                        <button type="button" class="btn btn-secondary w-100 d-md-none mt-n2 mb-3"
                                data-bs-toggle="collapse" data-bs-target="#account-menu">
                            <i class="bx bxs-user-detail fs-xl me-2"></i>
                            Account menu
                            <i class="bx bx-chevron-down fs-lg ms-1"></i>
                        </button>
                        <div id="account-menu" class="list-group list-group-flush collapse d-md-block">
                            <a
                                    class="list-group-item list-group-item-action d-flex align-items-center active">
                                <i class="bx bx-cog fs-xl opacity-60 me-2"></i>
                                Account Details
                            </a>
                            <a href="{% url 'password_change' %}"
                               class="list-group-item list-group-item-action d-flex align-items-center">
                                <i class="bx bx-lock-alt fs-xl opacity-60 me-2"></i>
                                Security
                            </a>
                            <a href="{% url 'account_saves' %}"
                               class="list-group-item list-group-item-action d-flex align-items-center">
                                <i class="bx bx-bookmark fs-xl opacity-60 me-2"></i>
                                Saved Items
                            </a>
                            <a href="{% url 'logout' %}"
                               class="list-group-item list-group-item-action d-flex align-items-center">
                                <i class="bx bx-log-out fs-xl opacity-60 me-2"></i>
                                Sign Out
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- Account details -->
            <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
                <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
                    <h1 class="h2 pt-xl-1 pb-3">Account Details</h1>
                    <!-- Basic info -->
                    <h2 class="h5 text-primary mb-4">Basic info</h2>
                    <form class="needs-validation border-bottom pb-3 pb-lg-4" method="post"
                          action="{% url 'account-details' %}">{% csrf_token %}
                        <div class="row pb-2">
                            {% if user.first_name != '' %}
                                <div class="col-sm-6 mb-4">
                                    <label for="fn" class="form-label fs-base">First name</label>
                                    <input type="text" id="fn" class="form-control form-control-lg"
                                           value="{{ user.first_name }}" disabled>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label for="sn" class="form-label fs-base">Last name</label>
                                    <input type="text" id="sn" class="form-control form-control-lg"
                                           value="{{ user.last_name }}" disabled>
                                </div>
                            {% else %}
                                <div class="col-sm-6 mb-4">
                                    <label for="id_first_name" class="form-label fs-base">First name</label>
                                    <input type="text" id="id_first_name" name='first_name'
                                           class="form-control form-control-lg" placeholder="e.g Abdusamad">
                                    <div class="invalid-feedback">Please enter your first name!</div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label for="id_last_name" class="form-label fs-base">Last name</label>
                                    <input type="text" id="id_last_name" name="last_name"
                                           class="form-control form-control-lg" placeholder="e.g Malikov">
                                    <div class="invalid-feedback">Please enter your last name!</div>
                                </div>
                            {% endif %}
                            <div class="col-sm-6 mb-4">
                                <label for="email" class="form-label fs-base">Email address</label>
                                <input type="email" id="email" class="form-control form-control-lg"
                                       value="jonny@email.com" disabled>
                                <div class="invalid-feedback">Please provide a valid email address!</div>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <label for="id_phone" class="form-label fs-base">Phone <small
                                        class="text-muted">(optional)</small></label>
                                {% if user.phone != '' %}
                                    <input type="text" id="id_phone" name="phone" class="form-control form-control-lg"
                                           data-format="custom"
                                           data-delimiter="-" data-blocks="2 3 4" data-numeral="9"
                                           value="{{ user.phone }}" disabled>
                                {% else %}
                                    <input type="text" id="id_phone" name="phone" class="form-control form-control-lg"
                                           data-format="custom"
                                           data-delimiter="-" data-blocks="2 3 4" data-numeral="9"
                                           placeholder="+99800-000-00-00">
                                {% endif %}

                            </div>
                            <div class="col-12 mb-4">
                                <label for="id_bio" class="form-label fs-base">Bio <small
                                        class="text-muted">(optional)</small></label>
                                {% if user.bio == '' %}
                                    <textarea type="text" id="id_bio" name="bio" class="form-control form-control-lg"
                                              rows="4"
                                              placeholder="Write little about you. Do not forget you can not update your bio next time"></textarea>
                                {% else %}
                                    <textarea type="text" id="id_bio" name="bio" class="form-control form-control-lg"
                                              rows="4"
                                              placeholder="{{ user.bio }}" disabled></textarea>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <button type="reset" class="btn btn-secondary me-3" href="{% url 'account-details' %}">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                    <!-- Delete account -->
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
{% endblock %}