{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- Page content -->
    <section class="container pt-5">
        <div class="row">
            <!-- Sidebar (User info + Account menu) -->
            <aside class="col-lg-3 col-md-4 border-end pb-5 mt-n5">
                <div class="position-sticky top-0">
                    <div class="text-center pt-5">
                        <div class="d-table position-relative mx-auto mt-2 mt-lg-4 pt-5 mb-3">
                            <img src="{{ user.image.url }}" class="d-block rounded-circle" width="120" alt="John Doe">
                            <button type="button"
                                    class="btn btn-icon btn-light bg-white btn-sm border rounded-circle shadow-sm position-absolute bottom-0 end-0 mt-4"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Change picture">
                                <i class="bx bx-refresh"></i>
                            </button>
                        </div>
                        <h2 class="h5 mb-1">{{ user.first_name }} {{ user.last_name }}</h2>
                        <p class="mb-3 pb-3">{{ user.email }}</p>
                        <button type="button" class="btn btn-secondary w-100 d-md-none mt-n2 mb-3"
                                data-bs-toggle="collapse" data-bs-target="#account-menu">
                            <i class="bx bxs-user-detail fs-xl me-2"></i>
                            Account menu
                            <i class="bx bx-chevron-down fs-lg ms-1"></i>
                        </button>
                        <div id="account-menu" class="list-group list-group-flush collapse d-md-block">
                            <a href="{% url 'account-details' %}"
                               class="list-group-item list-group-item-action d-flex align-items-center">
                                <i class="bx bx-cog fs-xl opacity-60 me-2"></i>
                                Account Details
                            </a>
                            <a href="{% url 'password_change' %}"
                               class="list-group-item list-group-item-action d-flex align-items-center">
                                <i class="bx bx-lock-alt fs-xl opacity-60 me-2"></i>
                                Security
                            </a>
                            <a
                                    class="list-group-item list-group-item-action d-flex align-items-center active">
                                <i class="bx bx-bookmark fs-xl opacity-60 me-2"></i>
                                Saved Items
                            </a>
                            <a href="{% url 'logout' %}"
                               class="list-group-item list-group-item-action d-flex align-items-center link-danger">
                                <i class="bx bx-log-out fs-xl opacity-60 me-2"></i>
                                Sign Out
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- Account saved items -->
            <div class="col-md-8 offset-lg-1 pb-5 mb-lg-2 pt-md-5 mt-n3 mt-md-0">
                <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
                    <div class="d-flex align-items-center justify-content-between pt-xl-1 mb-3 pb-3">
                        <h1 class="h2 mb-0">Saved Items</h1>
                        <button type="button" class="btn btn-outline-danger px-3 px-sm-4" style="cursor: progress">
                            <i class="bx bx-trash-alt fs-xl me-sm-2"></i>
                            <span class="d-none d-sm-inline">Remove all</span>
                        </button>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 gx-3 gx-lg-4">
                        {% for post in posts %}
                            <!-- Item -->
                            <div class="col pb-lg-2 mb-4">
                                <article class="card border-0 h-100 mx-1 shadow-sm">
                                    <div class="position-relative">
                                       <form action="{% url 'remove_post' post.pk %}" method="post">{% csrf_token %}
                                <a class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3"
                                   data-bs-toggle="tooltip" data-bs-placement="left"
                                   title="Remove">
                                    <button mt-0 type="submit" class="btn btn-link" value="{{ post.id }}"
                                            name="post_id">
                                        <i class="bx bxs-bookmark" style="color: black; font-size: 25px"></i>
                                    </button>
                                </a>
                            </form>
                                        <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="Image">
                                    </div>
                                    <div class="card-body pb-4">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <a href="{{ post.get_absolute_url }}"
                                               class="badge fs-sm text-nav bg-secondary text-decoration-none">{{ post.category }}</a>
                                            <span class="fs-sm text-muted">{{ post.created_at|date:'F d, Y' }}</span>
                                        </div>
                                        <h3 class="h5 mb-0">
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </h3>
                                    </div>
                                    <div class="card-footer py-4">
                                        <a href="{{ post.get_absolute_url }}"
                                           class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                                            <img src="{{ post.author.image.url }}" class="rounded-circle me-3"
                                                 width="48"
                                                 alt="Avatar">
                                            {{ post.author.first_name }} {{ post.author.last_name }}
                                        </a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}