{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb -->
    <nav class="container pt-4 mt-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="post_list.html">Blog</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Single Post</li>
        </ol>
    </nav>
    <!-- Post title + Meta  -->
    <section class="container mt-4 pt-lg-2 pb-3">
        <h1 class="pb-3" style="max-width: 970px;">{{ post.title }}</h1>
        <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
            <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
                <div class="fs-xs border-end pe-3 me-3 mb-2">
                    <span class="badge bg-faded-primary text-primary fs-base">{{ post.category }}</span>
                </div>
                <div class="fs-sm border-end pe-3 me-3 mb-2">{{ post.created_at|timesince }} ago</div>
                <div class="d-flex mb-2">
                    <div class="d-flex align-items-center me-3">
                        <i class="bx bx-like fs-base me-1"></i>
                        <span class="fs-sm">{{ post.number_of_likes }}</span>
                    </div>
                    <div class="d-flex align-items-center me-3">
                        <i class="bx bx-comment fs-base me-1"></i>
                        <span class="fs-sm">{{ post.comments.all.count }}</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="bx bx-share-alt fs-base me-1"></i>
                        <span class="fs-sm">2</span>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center position-relative ps-md-3 pe-lg-5 mb-2">
                <img src="{{ post.author.image.url }}" class="rounded-circle" width="60" alt="Avatar">
                <div class="ps-3">
                    <h6 class="mb-1">Author</h6>
                    <a href="#"
                       class="fw-semibold stretched-link">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Post image (parallax) -->
    <div class="jarallax mb-lg-5 mb-4" data-jarallax data-speed="0.4" style="height: 36.45vw; min-height: 300px;">
        <div class="jarallax-img" style="background-image: url({{ post.image.url }});"></div>
    </div>
    <!-- Post content + Sharing -->
    <section class="container mb-5 pt-4 pb-2 py-mg-4">
        <div class="row gy-4">
            <!-- Content -->
            <div class="col-lg-9">
                {{ post.body|safe }}
            </div>
            <!-- Sharing -->
            <div class="col-lg-3 position-relative" id="share-post">
                <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 105px !important;">
                    <h6>Share this post:</h6>
                    <div class="mb-4 pb-lg-3">
                        <a href="https://www.linkedin.com/in/abdusamad-malikov/" class="btn btn-icon btn-secondary btn-linkedin me-2 mb-2" target="_blank">
                            <i class="bx bxl-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/abdusamad.malikov.18/" class="btn btn-icon btn-secondary btn-facebook me-2 mb-2" target="_blank">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="https://github.com/sevbo2003" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2" target="_blank">
                            <i class="bx bxl-github"></i>
                        </a>
                        <a href="https://www.instagram.com/abdusamad_malikov/" target="_blank" class="btn btn-icon btn-secondary btn-instagram me-2 mb-2">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                    <form action="{% url 'like_post' post.pk %}" method="post">{% csrf_token %}
                        <button class="btn btn-lg btn-outline-secondary" type="submit" value="{{ post.id }}"
                                name="post_id">
                            <i class="bx bx-like me-2 lead"></i>
                            Like it
                            <span class="badge bg-primary shadow-primary mt-n1 ms-3">{{ post.likes.all.count }}</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Post comments -->
    <section id="comment-section" class="container mb-4 pt-lg-4 pb-lg-3">
        {% if post.comments.all.count != 0 %}
            <h2 class="h1 text-center text-sm-start">{{ post.comments.all.count }} comments so far</h2>
        {% else %}
            <h2 class="h1 text-center text-sm-start">No comments yet. Write first one</h2>
        {% endif %}
        <div class="row">
            <!-- Comments -->
            <div class="col-lg-9">
                <!-- Comment -->
                {% for comment in comments %}
                    <div class="py-4">
                        <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                            <div class="d-flex align-items-center me-3">
                                <img src="{{ comment.user.image.url }}" class="rounded-circle" width="48"
                                     alt="Avatar">
                                <div class="ps-3">
                                    {% if comment.user.first_name != '' %}
                                        <h6 class="fw-semibold mb-0">{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
                                    {% else %}
                                        <h6 class="fw-semibold mb-0">@{{ comment.user.username }}</h6>
                                    {% endif %}
                                    <span class="fs-sm text-muted">{{ comment.created_at|date:'F d | H:i' }}</span>
                                </div>
                            </div>
                        </div>
                        <p class="mb-0">{{ comment.comment }}.</p>
                    </div>
                    <hr class="my-2">
                {% endfor %}
                {% if comments.has_other_pages %}
                    <nav aria-label="Page navigation example" class="d-flex justify-content-start">
                        <ul class="pagination justify-content-center pt-lg-3 pt-1">
                            <li class="page-item">
                                {% if comments.has_previous %}
                                    <a href="?page={{ comments.previous_page_number }}" class="page-link">
                                        <i class="bx bx-chevron-left mx-n1"></i>
                                    </a>
                                {% else %}
                                    <a class="page-link">
                                        <i class="bx bx-chevron-left mx-n1"></i>
                                    </a>
                                {% endif %}
                            </li>
                            {% for i in comments.paginator.page_range %}
                                {% if comments.number == i %}
                                    <li class="page-item active d-none d-sm-block" aria-current="page">
                                        <span class="page-link">{{ i }}<span
                                                class="visually-hidden">(current)</span></span>
                                    </li>
                                {% else %}
                                    <li class="page-item d-none d-sm-block">
                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if comments.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ comments.next_page_number }}" class="page-link">
                                        <i class="bx bx-chevron-right mx-n1"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link">
                                        <i class="bx bx-chevron-right mx-n1"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                <!-- Comment -->
            </div>
        </div>
    </section>
    <!-- Comment form + Subscription -->
    <section class="container mb-4 pb-2 mb-md-5 pb-lg-5">
        <div class="row gy-5">
            <!-- Comment form -->
            <div class="col-lg-9">
                <div class="card-body w-100 px-0" style="max-width: 746px;">
                    {% if user.is_authenticated %}
                        <form class="row gy-4 needs-validation" method="post">{% csrf_token %}
                            <textarea id="id_comment" type="text" name="comment" class="form-control form-control-lg"
                                      rows="3"
                                      placeholder="Type your comment here..." required></textarea>
                            <button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Post comment
                            </button>
                        </form>
                    {% else %}
                        <h3 class="mb-0">You need <a href="{% url 'login' %}"
                                                     class="fw-semibold link-info">Log in</a> or <a
                                href="{% url 'signup' %}" class="fw-semibold link-info">Sign Up</a> to
                            write a comment.</h3>
                    {% endif %}

                </div>
            </div>
            <!-- Subscription form + Sharing -->
            <div class="col-lg-3 position-relative" id="footer1">
                <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 70px !important;">
                    <div class="row gy-lg-5 gy-4 justify-content-center text-lg-start text-center">
                        <!-- Subscription form -->
                        <div class="col-lg-12 col-sm-7 col-11">
                            <h6 class="fs-lg">Enjoy this post? Join our newsletter</h6>
                            <form class="needs-validation" method="post" action="{% url 'home' %}">{% csrf_token %}
                                <div class="input-group mb-3">
                                    <i class="bx bx-envelope position-absolute start-0 top-50 translate-middle-y zindex-5 ms-3 text-muted d-lg-inline-block d-none"></i>
                                    <input id="id_email" type="email" placeholder="Your Email" name="email"
                                           class="form-control ps-lg-5 rounded text-lg-start text-center" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Subscribe</button>
                            </form>
                        </div>
                        <!-- Sharing -->
                        <div class="col-lg-12 col-sm-7 col-11">
                            <h6 class="fs-lg">Don’t forget to share it</h6>
                            <div class="mb-4 pb-lg-3">
                                <a href="#" class="btn btn-icon btn-secondary btn-linkedin me-2 mb-2">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https:/malikov.co{{ request.path }}"
                                   class="btn btn-icon btn-secondary btn-facebook me-2 mb-2">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                                <a href="#" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2">
                                    <i class="bx bxl-messenger"></i>
                                </a>
                                <a href="#" class="btn btn-icon btn-secondary btn-instagram me-2 mb-2">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related articles (Slider below lg breakpoint) -->
    <section class="container mb-5 pt-md-4">
        <div class="d-flex flex-sm-row flex-column align-items-center justify-content-between mb-4 pb-1 pb-md-3">
            <h2 class="h1 mb-sm-0">Related Articles</h2>
            <a href="{% url 'post_list' %}" class="btn btn-lg btn-outline-primary ms-4">
                All posts
                <i class="bx bx-right-arrow-alt ms-1 me-n1 lh-1 lead"></i>
            </a>
        </div>
        <div class="swiper mx-n2" data-swiper-options='{
                    "slidesPerView": 1,
                    "spaceBetween": 8,
                    "pagination": {
                    "el": ".swiper-pagination",
                    "clickable": true
                    },
                    "breakpoints": {
                    "500": {
                    "slidesPerView": 2
                    },
                    "1000": {
                    "slidesPerView": 3
                    }
                    }
                    }'>
            <div class="swiper-wrapper">
                <!-- Item -->
                {% for rpost in releated_arts %}
                    <div class="swiper-slide h-auto pb-3">
                        <article class="card border-0 shadow-sm h-100 mx-2">
                            <div class="position-relative">
                                <form action="{% url 'save_post' post.pk %}" method="post">{% csrf_token %}
                                    <a class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3"
                                       data-bs-toggle="tooltip" data-bs-placement="left"
                                       title="Read later">
                                        <button mt-0 type="submit" class="btn btn-link" value="{{ post.id }}"
                                                name="post_id">
                                            <i class="bx bx-bookmark" style="color: black"></i>
                                        </button>
                                    </a>
                                </form>
                                <img src="{{ rpost.thumbnail.url }}" class="card-img-top" alt="Image">
                            </div>
                            <div class="card-body pb-4">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <a href="{{ rpost.get_absolute_url }}"
                                       class="badge fs-sm text-nav bg-secondary text-decoration-none">{{ rpost.category }}</a>
                                    <span class="fs-sm text-muted">{{ rpost.created_at|date:"F d, Y" }}</span>
                                </div>
                                <h3 class="h5 mb-0">
                                    <a href="{{ rpost.get_absolute_url }}">{{ rpost.title }}</a>
                                </h3>
                            </div>
                            <div class="card-footer py-4">
                                <a href="#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                                    <img src="{{ rpost.author.image.url }}" class="rounded-circle me-3" width="48"
                                         alt="Avatar">
                                    {{ rpost.author.first_name }} {{ rpost.author.last_name }}
                                </a>
                            </div>
                        </article>
                    </div>
                {% endfor %}

                <!-- Item -->
            </div>
            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
        </div>
    </section>
    <!-- Footer -->
{% endblock %}